<!DOCTYPE html>
<html>
<head>
    <title>big-canvas - <%= siteId %></title>
    <!-- jquery -->
    <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
    <!-- jquery layout -->
    <script type="text/javascript" src="/jquery.layout.min.js"></script>
    <link rel="stylesheet" href="/layout-default.css">
    <!-- jquery transit -->
    <script type="text/javascript" src="/jquery.transit.min.js"></script>
	<!-- angular -->
	<script type="text/javascript" src="/components/angular/angular.min.js"></script>
	<link rel="stylesheet" href="/components/angular/angular-csp.css">
    <!-- knockback -->
    <script type="text/javascript" src="/knockback.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- tiny editor -->
    <link rel="stylesheet" href="/tinyeditor/tinyeditor.css">
    <script src="/tinyeditor/tiny.editor.packed.js"></script>
    <!-- big-canvas -->
    <script type="text/javascript">
        var siteId = "<%= siteId %>";
    </script>
    <script type="text/javascript" src="/big-canvas.js"></script>
    <link type="text/css" rel="stylesheet" href="/big-canvas.css"/>

    <script>
        $(function() {
            var layout = $('body').layout({
                pane__spacing: 0,
                north__resizable: false,
                north__closable: false,
                south__resizable: false,
                south__closable: false,
                north__spacing_open: 0,
                south__spacing_open: 0,
                east__resizable: false,
                east__closable: true,
                east__spacing_open: 0,
                east__spacing_closed: 0,

                paneClass: "region",
                north__paneSelector: "#header-region",
                east__paneSelector: "#comments-region",
                center__paneSelector: "#canvas-region",
                south__paneSelector: "#tools-region",

                north__size: 50,
                south__size: 50,
                east__size: 381
            });

            var editor = new TINY.editor.edit('editor', {
                id: 'tinyeditor',
                cssclass: 'tinyeditor',
                width: "100%",
                height: "100%",
                controlclass: 'tinyeditor-control',
                rowclass: 'tinyeditor-header',
                dividerclass: 'tinyeditor-divider',
                controls: ['bold', 'italic', 'underline', 'strikethrough', '|', 'link', 'unlink'],
                footer: true,
                fonts: ['Verdana','Arial','Georgia','Trebuchet MS'],
                xhtml: true,
                cssfile: 'custom.css',
                bodyid: 'editor',
                //footerclass: 'tinyeditor-footer',
                //toggle: {text: 'source', activetext: 'wysiwyg', cssclass: 'toggle'},
                resize: {cssclass: 'resize'}
            });
        });
    </script>
</head>
<body>
<div id="canvas-region" class="ui-layout-center">

</div>
<div id="header-region" class="ui-layout-north">
    <div id="logo">big-canvas</div>
</div>
<div id="tools-region" class="ui-layout-south">

</div>
<% include comments.ejs %>
</body>
</html>