html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.region {

}

#header-region {
	background-color: #666666;
	color: white;
	font-size: 20px;
	padding: 10px;
}

#canvas-region {
	background-color: white;
}

#tools-region {
	background-color: #DDDDDD;
}

#comments-region {
	background-color: #DDDDDD;
}