#canvas-region,
#header-region,
#tools-region,
#comments-region {
  border: 1px dotted black;
}
.comments-panel {
  background-color: white;
}
.annotation-item {
  padding: 5px;
  border: 1px dotted black;
}
.user-image {
  float: left;
  margin-right: 5px;
}
.title-field {
  font-size: larger;
}
.author-field {
  font-weight: bold;
}
.flip-frame {
  position: relative;
  width: 100px;
  height: 100px;
}
.flip-panel {
  position: absolute;
  width: inherit;
  height: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.hidden {
  display: none;
}
body {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}
